.container {
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #233657;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.container>h4 {
    font-size: 3rem;
    color: #391053;
    text-align: center;
}

.form_input_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    grid-gap: 1rem;
}
.form_input_wrapper>label {
    font-size: 1.6rem;
    color: #391053;
    align-self: flex-start;
}

.form_input {
    border: 1px solid #233657;
    width: 100%;
    padding: 1rem;
    display: flex;
    /* grid-gap: 1rem; */
    align-items: center;
    border-radius: 10px;
}

.form_input.disabled {
    border: 1px solid #909090;
    background: #E9ECEF;
}

.form_input>input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.form_input>input::-webkit-input-placeholder {
    color: rgba(35, 54, 87, 0.6);
    font-size: 1rem;
}

.form_input>input:-ms-input-placeholder {
    color: rgba(35, 54, 87, 0.6);
    font-size: 1rem;
}

.form_input>input::placeholder {
    color: rgba(35, 54, 87, 0.6);
    font-size: 1rem;
}


.form_input>select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.form_input>select::-webkit-input-placeholder {
    color: rgba(35, 54, 87, 0.6);
    font-size: 1rem;
}

.form_input>select:-ms-input-placeholder {
    color: rgba(35, 54, 87, 0.6);
    font-size: 1rem;
}

.form_input>select::placeholder {
    color: rgba(35, 54, 87, 0.6);
    font-size: 1rem;
}

.form_input>p {
    font-weight: 500 !important;
    font-size: 1rem !important;
}

.form_input.disabled>button {
    color: #909090;
    cursor: default;
}


.button_submit {
    background: #391053;
    width: 40%;
    border-radius: 20px;
    padding: 1rem 4rem;
    font-size: 1.22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-top: 2rem;
}
.button_submit:disabled {
    opacity: 0.7;
    cursor: default;
}

@media (max-width : 1200px){
    .button_submit {
        width: 49%;
    }
}

@media (max-width : 1040px){
    .button_submit {
        width: 54%;
    }
}

@media (max-width : 880px){
    .button_submit {
        width: 60%;
    }
}

@media (max-width : 700px){
    .button_submit {
        width: 60%;
    }
}

@media (max-width : 600px){
    .container {
        width: 90%;
        gap: 1rem;
    }
    .container h4 {
        font-size: 2.3rem;
    }

    .button_submit {
        width: 90%;
    }
}


@media (max-width : 400px){
    .form_input>input::-webkit-input-placeholder {
        font-size: 1rem;
    }
    
    .form_input>input:-ms-input-placeholder {
        font-size: 1rem;
    }
    
    .form_input>input::placeholder {
        font-size: 1rem;
    }
}